@use "../../styles/variables" as *;

.section {
  margin: 32px 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 16px;
}

.header h2 {
  margin: 0;
  color: $color-primary;
  font-size: 24px;
  font-weight: $font-weight-extra-bold;
}

.link {
  font-size: 12px;
  color: $color-text-secondary;
}

.tabs {
  width: min(1100px, 100%);
  margin: 0 auto 18px;
  background: $color-white;
  border: 1px solid $color-border;

  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tab {
  height: 44px;
  border: 0;
  background: transparent;
  cursor: pointer;

  font-size: 12px;
  font-weight: $font-weight-bold;
  color: $color-text-secondary;

  border-right: 1px solid $color-border;
}

.tab:last-child {
  border-right: 0;
}

.active {
  color: $color-primary;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 10px;
  height: 2px;
  background: $color-primary;
}

.carousel {
  position: relative;
}

.list {
  width: min(1100px, 100%);
  margin: 0 auto;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 12px 0 18px;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border-radius: 999px;
  background: $color-white;
  border: 1px solid $color-border;
  box-shadow: $shadow-card;

  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 22px;
}

.arrowLeft {
  left: -12px;
}
.arrowRight {
  right: -12px;
}

@media (max-width: 1000px) {
  .tabs {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 24px;
  margin: 24px 0 18px;
}

.line {
  height: 1px;
  background: $color-border; // linha cinza do Figma
}

.center {
  text-align: center;
  display: grid;
  gap: 6px;
}

.title {
  margin: 0;
  color: $color-primary;
  font-size: 28px; // parecido com o do Figma
  font-weight: $font-weight-extra-bold;
  line-height: 1.1;
}

.subtitle {
  font-size: 13px;
  font-weight: $font-weight-bold;
  color: $color-text-secondary;
  text-decoration: none;
}

.subtitle:hover {
  text-decoration: underline;
}
