.section {
  margin: 32px 0;
  padding: 36px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
